:root {
    --sidebar-width: 240px;
    --page-padding: 15px;
    --menu-bar-height: 50px;
}

.content main {
    max-width: initial;
}

.sidetoc {
    padding-top: var(--page-padding);
}

.pagetoc {
    position: fixed;
}

.pagetoc a:first-child {
    padding-left: 10px;
}

.pagetoc a {
    border-left: 1px solid var(--sidebar-bg);
    color: var(--fg);
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    text-decoration: none;
}

.pagetoc a:hover,
.pagetoc a.active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg);
}

.nav-chapters {
    display: none;
}

div.circletag {
    display: block;
    width: 200px;
    height: 200px;
    background: #E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
div.circletag>img {
   max-height: 100%;
   max-width: 100%;
   border-radius: 50%;
}

table, th, td {
    border: none;
    border-collapse: collapse;
}
